<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Projects Details</h2>
          <ol>
            <li><a href="home">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li>Project Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/project4a.png" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Tên dự án</strong>: DỰ ÁN CHỐNG NGẬP TP. HCM 4</li>
                <li><strong>Chủ đầu tư</strong>: Công ty TNHH Trung Nam BT1547</li>
                <li><strong>Nhà thầu</strong>: Công ty CP Phân phối Công nghệ Quang Dũng</li>
                <li><strong>Địa điểm công trình</strong>: Công ngăn triều Bến Nghé, Bà Bướm, Tân Thuận, Phú Xuân, Phú Định, Cây Khô, Cầu Kinh, Mương Chuối trên khu vực TP. HCM</li>
                <li><strong>Quy mô</strong>: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <h3>Hình ảnh dự án</h3>
                <div class="swiper-slide">
                  <img style="width:100%" src="assets/img/project4.png" alt="">
                </div>
          </div>

          <div class="col-lg-12">
            <div class="portfolio-description">
              <h2>Vai trò scada automation trong dự án</h2>
              <ul>
                <li>Thi công lắp tặt tủ điện hạng mục giao thông thủy tại 8 cống ngăn triều trên địa bàn TP. HCM</li>
                <li>Thi công lắp đặt tủ điện hạng mục điều khiển và giám sát âu thuyền</li>
                <li>Hệ thống quan trắc mực ncớc, lượng mưa sử dụng clear SCADA hãng Schneider</li>
                <li>Cung cấp máy tính IPC Siemens dùng cho hệ SCADA của toàn dự án</li>
                <li>Cung cấp hệ Sensor Siemens cho hệ thống vệ sinh áp lực cao và Sensor trạm bơm</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="portfolio-description">
              <h2>Cảm nhận về scada automation</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum.
              </p>
            </div>
          </div>


        </div>

      </div>
    </section>
