<body>
    <section id="hero" class="clearfix">
        <div class="container" data-aos="fade-up">

          <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/teamwork.svg" alt="" class="img-fluid">
          </div>

          <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
            <h2>Cooperation for<br><span>mutual development,</span><br>solidarity to <span>reach far!</span></h2>
            <div>
              <a href="/about" class="btn-get-started scrollto">Get Started</a>
              <a href="/service" class="btn-services scrollto">Our Services</a>
            </div>
          </div>

        </div>
      </section>

      <section id="clients" class="section-bg">

        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h3>Our CLients</h3>
            <p>Portfolio of clients who trust us.</p>
          </div>

          <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-1.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-2.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-3.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-4.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-5.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-6.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-7.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-8.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-9.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-10.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-11.PNG" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo">
                <img src="assets/img/clients/client-12.PNG" class="img-fluid" alt="">
              </div>
            </div>


          </div>

        </div>

      </section>



      <section id="why-us">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3>Why choose us?</h3>
            <p>We deliver quality technology services in the most efficient way, at a price that will allow you to deliver more.</p>
          </header>

          <div class="row row-eq-height justify-content-center">

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="100">
                <i class="bi bi-calendar4-week"></i>
                <div class="card-body">
                  <h5 class="card-title">Technology Solutions</h5>
                  <p class="card-text">Want to build a manufacturing plant? But have not found a place to consult and provide equipment for your business. With this issue CAA is very confident that we can help you with this. Because we are an association of consulting companies and provide solutions to help businesses access the most modern production lines and equipment.</p>
                  <a href="#" class="readmore">Read more </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="200">
                <i class="bi bi-camera-reels"></i>
                <div class="card-body">
                  <h5 class="card-title">Training program</h5>
                  <p class="card-text">We cooperate with universities in the Mekong Delta and prestigious training institutions. Open training classes for engineers with expertise in IoT, PLC, HMT, ROBOT, Inverter, .. After the course, students have enough professional knowledge, can apply for jobs or be admitted to working at CAA member companies.</p>
                  <a href="#" class="readmore">Read more </a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-4">
              <div class="card" data-aos="zoom-in" data-aos-delay="300">
                <i class="bi bi-chat-square-text"></i>
                <div class="card-body">
                  <h5 class="card-title">Development Goals</h5>
                  <p class="card-text">Laying the foundation of "cooperation for development, solidarity and reaching out", CAA wishes to cooperate together: Training and developing human resources, bringing the highest benefits and prosperous life to all members of the association. We always consider all customers as partners, creating efficiency and bringing fair benefits to both parties.</p>
                  <a href="#" class="readmore">Read more </a>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="row counters" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>

          </div> -->

        </div>
      </section>

      <section id="testimonials" class="section-bg">
        <div class="container" data-aso="zoom-in">

          <header class="section-header">
            <h3>Testimonials</h3>
          </header>

          <div class="row justify-content-center">
            <div class="col-lg-8">

              <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <p>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                      <h3>Sara Wilsson</h3>
                      <h4>Designer</h4>
                      <p>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                      <h3>Jena Karlis</h3>
                      <h4>Store Owner</h4>
                      <p>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                      <h3>Matt Brandon</h3>
                      <h4>Freelancer</h4>
                      <p>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                      <h3>John Larson</h3>
                      <h4>Entrepreneur</h4>
                      <p>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
              </div>

            </div>
          </div>

        </div>
      </section>
</body>
