<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>News</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>News</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->
<section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>News</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </header>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/news1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4 class="title"><a href="news-details">Giải pháp 3S iFACTORY đưa giấc mơ nhà máy thông minh của doanh nghiệp sản xuất Việt thành hiện thực.</a></h4>
            <p>
              Sau Covid-19, chuyển đổi số theo mô hình nhà máy thông minh là một trong những chiến lược được nhiều doanh nghiệp sản xuất ưu tiên phát triển để phục hồi và bứt phá. Và 3S iFACTORY chính là một giải pháp tối ưu để biến giấc mơ nhà máy thông minh của doanh nghiệp sản xuất Việt thành hiện thực.
            </p>
            <p>
              3S iFACTORY là bộ giải pháp chuyển đổi số toàn diện có sự kết hợp giữa tầng IT (công nghệ thông tin) và tầng OT (công nghệ vận hành),và được kiến trúc theo tiêu chuẩn quốc tế ISA-95.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="assets/img/news2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4 class="title"><a href="news-details">Giới thiệu Ứng dụng giám sát Trung tâm dữ liệu – phòng Server.</a></h4>
            <p>
              Các máy chủ, thiết bị mạng đắt tiền được thiết kế để hoạt động trong một điều kiện nhiệt độ độ ẩm tiêu chuẩn. Thiết bị điện tử cũng phải tránh xa nước ẩm. Với một Datacenter lớn, mặc dù đã có giám sát đo nhiệt độ độ ẩm, nhưng khi ngập nước do một sự cố đường ống chẳng hạn sẽ thấy việc thiếu giám sát rò nước đã gây ra hậu quả như thế nào.
            </p>
            <p>
              Daviteq giới thiệu Giải pháp IoT Globiots cung cấp gồm 10 cảm biến không dây đo các thông số khác nhau của trung tâm dữ liệu.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->
