<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Subscribe</h2>
          <ol>
            <li><a href="home">Home</a></li>
            <li><a href="education">Educations</a></li>
            <li>Subscribe</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->
<section id="contact">
    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h3>Subscribe</h3>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <img src="assets/img/subcribe-1.png" frameborder="0" style="border:0; width: 100%; height: 850px;" allowfullscreen>
          </div>
        </div>

        <div class="col-lg-6">
          <!-- <div class="row">
            <div class="col-md-5 info">
              <i class="bi bi-geo-alt"></i>
              <p>Số 59 Hùng Vương, phường Thới Bình, <br>Quận Ninh Kiều, TP Cần Thơ</p>
            </div>
            <div class="col-md-4 info">
              <i class="bi bi-envelope"></i>
              <p>CAA@gmail.com</p>
            </div>
            <div class="col-md-3 info">
              <i class="bi bi-phone"></i>
              <p>+84 123 456 789</p>
            </div>
          </div> -->

          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="First Name" required>
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Last Name" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <br>
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="Your Phone" required>
                </div>
                <div class="form-group col-lg-6 mt-3 mt-lg-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="15" placeholder="Message" required></textarea>
              </div>
              <div class="form-group mt-3">
                <input type="radio">
                <label for="html">&nbsp;Tại trung tâm</label>&nbsp;&nbsp;&nbsp;
                <input type="radio">
                <label for="html">&nbsp;Chuyển khoản</label><br>
              </div>
              <p>Đối với học viên đang kí thanh toán qua hình thức chuyển khoản, chuyển tiền vào số tài khoản:<br>
                 Chủ tài khoản công ty CAA.<br>
                 Số tài khoản: 0124 1245 1214<br>
                 Nội dung chuyển khoản vui lòng ghi: thanh toán học phí...<br>
              </p>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Submit</button></div>

            </form>
          </div>
        </div>

      </div>

    </div>
  </section>
