<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Education Details</h2>
        <ol>
          <li><a href="home">Home</a></li>
          <li><a href="education">Educations</a></li>
          <li>Education Details</li>
        </ol>
      </div>

    </div>
  </section>
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div>
            <div class="portfolio-description">
              <h2>This is an example of education detail</h2>
              <p>
                  PLC (viết tắt của Programmable Logic Controller) là thiết bị cho phép lập trình thực hiện các thuật toán điều khiển logic. Bộ lập trình PLC nhận tác động các sự kiện bên ngoài thông qua ngõ vào (input) và thực hiện hoạt động thông qua ngõ ra (output). PLC hoạt động theo phương thức quét các trạng thái trên đầu ra và đầu vào. Khi có sự thay đổi bất kỳ từ ngõ vào, dựa theo logic chương trình ngõ ra tương ứng sẽ thay đổi.
              </p>
              <p>
                  Ngôn ngữ lập trình PLC phổ biến hiện nay là Ladder, Step Ladder. Tuy nhiên, mỗi hãng sản xuất sẽ có các ngôn ngữ lập trình riêng. Các hãng sản xuất PLC phổ biến hiện nay gồm: Siemens, Mitsubishi, Rockwell, INVT, Delta...
              </p>
            </div>
          </div>
      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Nội đào tạo tổng quan</h3>
            <ul>
              <li><strong>Phần 1</strong>: Lập trình PLC căn bản</li>
              <li><strong>Phần 2</strong>: Lập trình PLC kết nối HMI/SCADA</li>
              <li><strong>Phần 3</strong>: Truyển thông công nghiệp PLC S7-1500</li>
              <li><strong>Phần 4</strong>: Bài tập cuối khóa.</li>
            </ul>
            <h3>Học phí</h3>
            <ul>
              <li>Học phí 700.000 đồng(Bảy trăm nghìn đồng).</li>
              <li>Sinh viên, Hội viên tự động hóa càn thơ giảm 30%.</li>
              <li>Số lượng học viên: 10 học viên/ lớp.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
